<!DOCTYPE html>
<html>

<head>
    <title>Walmart Deals</title>
    <link rel="stylesheet" href="../css/uikit.min.css">
    <script src="../js/uikit.min.js"></script>
    <script src="index.js"></script>

</head>

<body>
    <h1>Walmart Deals</h1>
    <a href="/myList"> My Grocery List </a>

</body>


</html>