<html>

<head>
    <title>Walmart Deals</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
</head>

<body>

    <div class="ui secondary  menu">
        <a class="item" style="color:#1678c2; font-size:30px;" href="/">
            My Grocery List
        </a>
        <a class="item" href="/">
            Home
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search Walmart...">
                    <i class="search link icon"></i>
                </div>
            </div>
            <a class="ui item" href="test.html">
                Logout
            </a>
            <a class="ui item" href="test.html">
                Login/Signup
            </a>
        </div>
    </div>

    <p>
        <%=result%>
    </p>


    <div class="ui grid" style="margin-left:30px;">
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="">
                </div>
                <div class="content">
                    <a class="header">Banana</a>
                    <div class="description"> $
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>