<html>

<head>
    <title>Walmart Deals</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
</head>

<body>
    <h1>My Grocery List</h1>
    <a href="/">Home</a>
    <p>hi
        <% if (hi) { %>

            <%= hi %>

                <% } %>

    </p>


    <div class="ui grid" style="margin-left:30px;">
        <div class="three wide column">
            <div class="ui card">
                <div class="image">
                    <img src="">
                </div>
                <div class="content">
                    <a class="header">Banana</a>
                    <div class="description"> $
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>