<html>

<head>
    <title>Walmart Deals</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script>
        function remove() {
            var target = event.target || event.srcElement;
            var id = target.id;

            var params = {
                name: id
            };

            $.post("/remove", params, function (result) {
                if (result && result.success) {
                    $("#status").text("Success");
                } else {
                    $("#status").text("Error");
                }
            })
            setTimeout(function () {
                location.reload();
            }, 10);

        }
    </script>
</head>

<body>

    <div class="ui secondary  menu">
        <a class="item" style="color:#1678c2; font-size:30px;" href="/">
            My Grocery List
        </a>
        <a class="item" href="/">
            Home
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search Walmart...">
                    <i class="search link icon"></i>
                </div>
            </div>
            <a class="ui item" href="logout.html">
                Logout
            </a>
            <a class="ui item" href="login.html">
                Login
            </a>
            <a class="ui item" href="signUp.html">
                Signup
            </a>
        </div>
    </div>

    <div class="ui grid" style="margin-left:30px;">

        <% for(var i=0; i < result.rows.length; i++) { %>
            <div class="three wide column">
                <div class="ui card">
                    <div class="image">
                        <img src="<%=result.rows[i].url%>">
                    </div>
                    <div class="content">
                        <a class="header">
                            <%=result.rows[i].name%>
                        </a>
                        <div class="description">
                            <%=result.rows[i].price%>
                        </div>
                        <div class="meta">
                            <button id="<%=result.rows[i].name%>" class="ui primary button" onclick="remove(this)" style="margin-left:25px; margin-top:10px;">
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>


    </div>

</body>

</html>